/* Start Variable */
:root {
    --bg-color: hsl(0, 0%, 8%);
    --card-bg-color: hsl(0, 0%, 12%);
    --link-bg-color: hsl(0, 0%, 20%);
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(75, 94%, 57%);
}

/* End Variable */

/* Start Global Rules  */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: myfont;
}

/* End Global Rules  */

/* Start Hero Area Section  */
.hero-area-section {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    position: relative;
}

.hero-area-section .card {
    width: 400px;
    height: 600px;
    max-width: 100%;
    padding: 20px;
    background-color: var(--card-bg-color);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Start User Info */
.hero-area-section .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    padding: 20px 0;
}

.user-info h2 {
    color: white;
}

.user-info h4 {
    color: var(--secondary-color);
    margin-top: 5px;
}

.user-info p {
    font-size: 14px;
    color: var(--primary-color);
    margin: 20px 0;
}



/* Start User Info */

/* Start User Links */
.user-links {
    margin: 10px 0;
    padding: 0 20px;
}

.user-links a {
    display: block;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: var(--primary-color);
    height: 50px;
    margin-bottom: 10px;
    background-color: var(--link-bg-color);
    border-radius: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;

}

.user-links a:hover {
    color: black;
    background-color: var(--secondary-color);
}

/* End User Links */

@media (max-width: 600px) {
    .hero-area-section .card {
        padding: 0;
        width: 350px;
        height: 580px;
    }
}

/* for mobile size 375px */
@media (max-width: 375px) {
    .hero-area-section .card {
        width: 300px;
        height: 550px;
        padding: 0px;
    }

    .user-info img {
        padding: 10px 0;
    }

    .user-info h2 {
        font-size: 1.3rem;
    }

    .user-info h4 {
        color: var(--secondary-color);
        margin-top: 5px;
        font-size: .9rem;
    }

    .user-info p {
        font-size: 13px;
    }

    .user-links a {
        font-weight: 600;
    }

}


/* End Hero Area Section  */

.footer-section {
    text-align: center;
    padding: 20px;
    background-color: var(--card-bg-color);
    color: white;
}

.footer-section .attribution {
    line-height: 2;
}
.footer-section .attribution a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 800;
}
